video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
    opacity: 0.45;
}

body {
    padding:25px;
    font-family: 'Orbitron', sans-serif;
    background: darkgray;
}

.timeline {
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position: fixed;
    bottom: 50px;
    position:relative;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background: rgba(0,0,0,.85);
    padding:10px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-radius:3px;
    min-width:250px;
    max-width:300px;
    height: 250px;
}

.entry:hover{
    background: darkred;
}

.entry img {
    display:block;
    max-width:auto;
    height:200px;
    margin-bottom:10px;
}


.entry h1 {
    color:#fff;
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}

.entry:hover h1{
    color: greenyellow;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}

.section{
    color: white;
    background-color: rgba(0, 0, 0, .65);
    display:inline-block;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    min-width: 400px;
    overflow:hidden;
    height: 90px;
}

.section .previous{
    margin-top: -40px;
    color: darkgray;
    opacity: 0.85;
}
.section .current{

}

.section .next{
    margin-bottom: -10px;
    color: darkgray;
    opacity: 0.85;
}

.selected_game_name{
    color: greenyellow;
}

.container{
    position: relative;
    /*height: 0vmax;*/
    height: 1080px;
}

.selector{
    /*position: static;
    margin-top: 600px;*/
    position: relative;
    margin-top: 500px;
}

.info h3{
    color: white;
}